*{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'Aldrich', sans-serif; 
}

#takePageContainer{
    background-color: #eb2626;
    color: green;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
#takeFomContainer{
    background-color: yellow;
    width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.componentDivs{
    background-color: chartreuse;
    width: 100%;
  }